rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /authDocs/{anonUserId} {
			allow read: if anonUserId == request.auth.uid;
		}
	}
}
